.stroke-cool {
    width: 100px;
    height: 100px;
    stroke-linecap: round;
}

circle {
    fill: transparent;
    stroke-width: 3;
}

.small {
    stroke-dasharray: 70, 20;
}

.medium {
    stroke-dasharray: 70, 50;
}

.large {
    stroke-dasharray: 70, 60;
}


.glow {
    box-shadow: 0 0 20px 10px #fff;
}